<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="MoonWeChat.DaYueZhuiLuoKuangXiang.WP81" Publisher="CN=MoonWeChatDev" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="a2c5c3f1-2f3a-4a6e-9a2c-2f9c9e6d7a02" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>大月微信 WP81</DisplayName>
    <PublisherDisplayName>MoonWeChatDev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MoonWeChat.App">
      <m3:VisualElements DisplayName="大月微信 WP81" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="大月墜落狂想 - Windows Phone 8.1 WinRT 第三方微信客户端" ForegroundText="light" BackgroundColor="#000000">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="picturesLibrary" />
    <!-- 访问电脑上的 pyweixin 网关（公网/穿透） -->
    <!-- 访问局域网电脑上的 pyweixin 网关 -->
  </Capabilities>
</Package>
