<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="MoonWeChat.DaYueZhuiLuoKuangXiang.WP10"
    Publisher="CN=MoonWeChatDev"
    Version="1.0.0.6" />

  <mp:PhoneIdentity PhoneProductId="a2c5c3f1-2f3a-4a6e-9a2c-2f9c9e6d7a01" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>大月微信 WP10</DisplayName>
    <PublisherDisplayName>MoonWeChatDev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.19041.0" />
    <!-- 真机 sideload 需要显式声明；桌面系统往往已有 CoreRuntime -->
    <PackageDependency Name="Microsoft.NET.CoreRuntime.1.1" MinVersion="1.1.0.0"
                       Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MoonWeChat.App">
      <uap:VisualElements
        DisplayName="大月微信 WP10"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="大月墜落狂想 - Windows 10 Mobile / UWP 第三方微信客户端前端原型"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="大月WP10">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <!-- 连接局域网里的 pyweixin 网关（手机连电脑 IP）需要 privateNetworkClientServer -->
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>
